* {
	border: none;
	border-radius: 10;
    font-family: "JetBrainsMono Nerd Font";
	font-size: 14px;
	min-height: 10px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
    color: transparent;
	background: transparent;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

/* === left side === */

#custom-launcher {
	font-size: 16px;
	margin-top: 6px;
	margin-left: 16px;
	padding-left: 10px;
	padding-right: 4px;
	border-radius: 10px;
	transition: none;
    color: #161320;
    background: rgba(137, 180, 250, 0.6);
}
#custom-launcher:hover {
    background: rgba(137, 180, 250, 1);
}

#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: rgba(116, 199, 236, 0.6);
}
#cpu:hover {
	background: rgba(116, 199, 236, 1);
}

#memory {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: rgba(116, 199, 236, 0.6);
}
#memory:hover {
	background: rgba(116, 199, 236, 1);
}

#disk {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: rgba(116, 199, 236, 0.6);
}
#disk:hover {
	background: rgba(116, 199, 236, 1);
}

#network {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: rgba(116, 199, 236, 0.6);
}
#network:hover {
	background: rgba(116, 199, 236, 1);
}

/* === center side === */

#workspaces {
	margin-top: 6px;
	margin-left: 12px;
	margin-bottom: 0px;
	border-radius: 10px;
	background: #161320;
	transition: none;
}
#workspaces button {
	transition: none;
	color: #f28fad;
	background: transparent;
	border-radius: 2px;
}
#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #fae3b0;
    border-color: #e8a2af;
    color: #e8a2af;
}
#workspaces button.empty {
    color: #b5e8e0;
}
#workspaces button.focused {
	color: #abe9b3;
    border-top: 2px solid #abe9b3;
    border-bottom: 2px solid #abe9b3;
}
#workspaces button.focused:hover {
    color: #e8a2af;
}
#workspace button.urgent {
    transition: blink;
}

/* === right side === */

#custom-updates {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: rgba(235, 160, 172, 1);
}

#custom-darkmodeswitch {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: rgba(180, 190, 254, 0.8);
}
#custom-darkmodeswitch:hover {
	background: rgba(180, 190, 254, 1);
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #1a1826;
	background: rgba(148, 226, 213, 0.8);
}
#pulseaudio:hover {
    color: #1a1826;
    background: rgba(148, 226, 213, 1);
}

#clock {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: rgba(116, 199, 236, 0.8);
    /*background: #1A1826;*/
}
#clock:hover {
	background: rgba(116, 199, 236, 1);
}

#tray {
	margin-top: 6px;
	margin-left: 8px;
    margin-right: 20px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	background: rgba(147, 153, 178, 0.2);
}

