/* wofi configuration file and styling man page: https://man.archlinux.org/man/wofi.5 */

* {
  border-radius: 6px;
  text-transform: lowercase;
}

window {
  font-size: 24px;
  background-color: rgba(50, 50, 50, 0.8);
  color: white; 
  padding: 24px;
  border: 1px rgba(250, 250, 250, 0.5) solid;
}

#entry {
  padding: 0.25em;
}

#entry:selected {
  background-color: #bbccdd;
  border-bottom: red;
  border: 1;
}

#text {
}

#text:selected {
  color: #333333;
}

#input {
  background-color: rgba(50, 50, 50, 0.5);
  background-color: transparent;
  border-radius: 0;
  color: white;
  padding: 0.25em;
  border: none;
}
#input image {
  color: rgba(0,0,0,0);
}

/*
This selects every-other element in the entry list
#inner-box flowboxchild:nth-child(even) {
  background-color: rgba(50, 50, 50, 0.2);
}
*/

#img {
  width: 10px;
  height: 10px;  
  margin-right: 0.5em;
}
